beautifulsoup4==4.5.1
bleach==1.4.3
boto3==1.4.4
botocore==1.5.7
cffi==1.9.1
chardet==2.3.0
cryptography==1.7.2
dj-database-url==0.4.2
Django==1.10.2
django-appconf==1.0.2
django-compressor==2.1
django-contrib-comments==1.7.3
django-s3-storages-utils==0.1.0
django-storages==1.5.2
docutils==0.13.1
Fabric3==1.13.1.post1
filebrowser-safe==0.4.6
future==0.15.2
grappelli-safe==0.4.5
gunicorn==19.6.0
html5lib==0.9999999
idna==2.2
jmespath==0.9.1
Mezzanine==4.2.2
oauthlib==2.0.0
paramiko==2.1.1
Pillow==3.4.1
psycopg2==2.6.2
pyasn1==0.2.2
pycparser==2.17
python-dateutil==2.6.0
pytz==2016.7
rcssmin==1.0.6
requests==2.11.1
requests-oauthlib==0.7.0
rjsmin==1.0.12
s3transfer==0.1.10
six==1.10.0
South==1.0.2
tzlocal==1.2.2
whitenoise==3.3.0
