{% extends "pages/page.html" %}

{% load pages_tags mezzanine_tags staticfiles %}

{% block extra_css %}
{% endblock extra_css %}

<!-- Fixed Top-Navbar (different bg for galleries)
================================================== -->

{% block gallery %}
{{ block.super }}

<!--{% editable page.gallery.content %}
{{ page.gallery.content|richtext_filters|safe }}
{% endeditable %}
</div>-->

<div class="card-deck content-padding">
{% with page.gallery.images.all as images %}
{% for image in images %}
    <div class="card mb-2" style="max-width: 33%;">
      <a rel="prettyPhoto" title="{{ image.description }}" href="{{ MEDIA_URL }}{% thumbnail image.file 1200 0 %}">
      <img class="card-img img-fluid" src="{{ MEDIA_URL }}{{ image.file }}" alt="{{ page.gallery.title }}"></a>
  </div>
{% endfor %}
{% endwith %}
{% with page.gallery.videos.all as videos %}
{% for video in videos %}
<div class="card mb-2 " style="max-width: 33%;">
    <div class="embed-responsive embed-responsive-4by3">
      <a title="{{ video.title }}" href="{{ video.video_url }}">
      <iframe src="{{ video.video_url }}" allowfullscreen></iframe></a>
    </div>
</div>
{% endfor %}
{% endwith %}

</div>
</div>


{{ block.super }}
{% endblock gallery %}
