<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}


<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css" integrity=""sha384-CK4EBuhY67FrbSPR73vSI3bibY4Cm7Yo5knhqTCR3hk/IYVGqE1SWjbOhQ9/2Uqp"" crossorigin="anonymous">

<!-- Custom styles for this template -->
<!--<link href="{% static "css/carousel.css" %}" rel="stylesheet">-->
<link href="{% static "css/prettyPhoto.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/theme.css" %}" rel="stylesheet">
<link href="{% static "css/carousel.fullscreen.css" %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">

{% block extra_css %}{% endblock %}
{% endcompress %}


<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

  <!--header-->

  <!-- Fixed Top-Navbar
  ================================================== -->
  {% block navigation %}
  <div class="pos-f-t">
     <div class="navbar navbar-static-top navbar-dark navbar-gallery">
        {% page_menu "pages/menus/primary.html" %}
    </div>
  </div>
  <div class ="navbar-spacer">
     &nbsp;
  </div>
  {% endblock navigation %}

  <!--header-->

{% block card_layout %}
{% endblock card_layout %}

{% block all_content %}
{% endblock %}

{% block gallery %}
{% endblock %}

<footer>
    <!-- FOOTER -->


  </div><!-- /.container -->

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  {% compress js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  <script src="{% static "js/carousel.js" %}"></script>
  <script src="{% static "js/jquery.prettyPhoto.js" %}" type="text/javascript" charset="utf-8"></script>

  {% block extra_js %}
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto();
    });
  </script>
  {% endblock %}

  {% endcompress %}

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

</footer>

{% block footer_js %}
{% include "includes/footer_scripts.html" %}
{% endblock %}



</body>
</html>
