.navbar {
   background: rgb(0, 0, 0); /* The Fallback */
   background:rgba(0, 0, 0, .0);   /* for latest browsers */
   font-family: 'Patua One', cursive;
   font-size: 24px;
}

.navbar-gallery {
  background: rgb(0, 0, 0); /* The Fallback */
  background:rgba(0, 0, 0, .8);   /* for latest browsers */  
}

.flex_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-line {
  padding:

}

.card-columns {
  background-color: black;
  padding: 0.5%;
  padding-top: 70px;

}

.card {
    border-color: black
}
